# Compiled extensionless executable files in /src/*/
# This stanza must precede wildcard patterns below!
/src/*/*
!/src/*/*.*
!/src/doc/*
!/src/*/Makefile
!/src/*/README

# Compiled Object files and python ciles
*.slo
*.lo
*.o
*.obj
*.pyc

# profiling files and core files
*.nvprof
core

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Test log files
*.testlog

# emacs saves
[#]*[#]
.[#]*
*~

# [ecg]tag files
TAGS
tags
GTAGS
GRTAGS
GPATH
GSYMS

# Make dependencies
.depend.mk

# some weird thing that MacOs creates.
*.dSYM

# Windows executable, symbol and some weird files.
*.exe
*.pdb
*.exp
*.manifest

# /src/
/src/doc/table/
/src/doc/tools.dox
/src/htdocs/
/src/html.tar.gz
/src/kaldi.mk
/src/kaldi.mk.tmp
/src/kaldi.mk.bak

# /egs/
/egs/*/s*/mfcc
/egs/*/s*/plp
/egs/*/s*/exp
/egs/*/s*/data

# /tools/
/tools/ATLAS/
/tools/atlas3.8.3.tar.gz
/tools/irstlm/
/tools/openfst
/tools/openfst-1.3.2.tar.gz
/tools/openfst-1.3.2/
/tools/openfst-1.3.4.tar.gz
/tools/openfst-1.3.4/
/tools/openfst-1.4.1.tar.gz
/tools/openfst-1.4.1/
/tools/pa_stable_v19_20111121.tgz
/tools/portaudio/
/tools/sctk-2.4.0-20091110-0958.tar.bz2
/tools/sctk-2.4.0/
/tools/sctk-2.4.10-20151007-1312Z.tar.bz2
/tools/sctk-2.4.10/
/tools/sph2pipe_v2.5.tar.gz
/tools/sph2pipe_v2.5/
/tools/kaldi_lm.tar.gz
/tools/sctk-2.4.8-20130429-2145.tar.bz2
/tools/sctk-2.4.9-20141015-1634Z.tar.bz2
/tools/sctk-2.4.9/
/tools/OpenBLAS
/tools/sctk
/tools/sctk-2.4.8
/tools/srilm
/tools/CLAPACK_include
/tools/kaldi_lm
/tools/env.sh
/tools/g2p-r1668.tar.gz
/tools/mpg123
/tools/mpg123-1.21.0.tar.bz2
/tools/mpg123-1.21.0
/tools/pthreads
/tools/pthreads*.zip
/tools/sequitur
/tools/srilm.tgz

/kaldiwin_vs*

# Everything above this line is borrowed from official Kaldi github repo
# Everything below this line added for SBS related experiments

# This is to unignore the following zipped packages in version control:  
# atlas, sctk, sph2pipe, openfst
# The install script fetches these from the web by using wget. But sometimes
# the web servers are down or busy. Hence, the zipped packages can act as a backup.
!/tools/atlas3.8.3.tar.gz
!/tools/sctk-2.4.9-20141015-1634Z.tar.bz2
!/tools/sph2pipe_v2.5.tar.gz
!/tools/openfst-1.3.4.tar.gz

# Ignore compile.log, depend.log
src/configure*.log
src/compile*.log
src/depend*.log
src/test*.log
src/valgrind*.log

!src/compile.bak.log
!src/depend.bak.log
!src/test.bak.log
!src/valgrind.bak.log


tools/compile*.log
!tools/compile.bak.log

# Ignore src.zip and tools.zip files
src.zip
tools.zip

# Ignore backup files
*.swp
*.swo

# Ignore valgrind
.valgrind

# Ignore any svn dir
.svn

# Ignore some misc files
.settings
.cproject
.project

# Ignore data*, exp* dirs
/egs/*/s*/data*
/egs/*/s*/exp*

# Ignore /egs/SBS
/egs/SBS

# Ignore all subdirs under /egs/SBS-mul/
/egs/SBS-mul/s*

# Add /eg/sSBS-mul/s5 (main SBS dir, currently set up for Swahili as the test language)
!/egs/SBS-mul/s5
/egs/SBS-mul/s5/data*
/egs/SBS-mul/s5/exp*
/egs/SBS-mul/s5/mfcc*
/egs/SBS-mul/s5/.git
/egs/SBS-mul/s5/.gitignore
/egs/SBS-mul/s5/HungPriorityCorrectOrthMemory.txt
/egs/SBS-mul/s5/conf/cantonese/*
!/egs/SBS-mul/s5/conf/cantonese/phones.txt
/egs/SBS-mul/s5/extra_oov.txt

# Add /egs/SBS-mul/s5_old (experimental, mostly unused)
!/egs/SBS-mul/s5_old
/egs/SBS-mul/s5_old/data*
/egs/SBS-mul/s5_old/exp*
/egs/SBS-mul/s5_old/mfcc*
/egs/SBS-mul/s5_old/.git
/egs/SBS-mul/s5_old/.gitignore

# Add /egs/SBS-mul/s9 is set up for Swahili
# !/egs/SBS-mul/s9
# /egs/SBS-mul/s9/data*
# /egs/SBS-mul/s9/exp*
# /egs/SBS-mul/s9/mfcc*
# /egs/SBS-mul/s9/.git
# /egs/SBS-mul/s9/extra_oov.txt
# /egs/SBS-mul/s9/HungPriorityCorrectOrthMemory.txt
# /egs/SBS-mul/s9/conf/arabic
# /egs/SBS-mul/s9/conf/cantonese
# /egs/SBS-mul/s9/conf/hungarian
# /egs/SBS-mul/s9/conf/mandarin/phones.txt
# /egs/SBS-mul/s9/conf/swahili/phones.txt
# /egs/SBS-mul/s9/conf/urdu/phones.txt

# Add /egs/SBS-mul-exp  (experimental, mostly unused)
!/egs/SBS-mul-exp/SBS-mul/*
/egs/SBS-mul-exp/SBS-mul/data*
/egs/SBS-mul-exp/SBS-mul/exp
/egs/SBS-mul-exp/SBS-mul/steps
/egs/SBS-mul-exp/SBS-mul/utils
/egs/SBS-mul-exp/SBS-mul/.git
/egs/SBS-mul-exp/SBS-mul/.gitignore
